@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@font-face {
  font-family: "Coolvetica";
  src: url("../public/coolvetica/Coolvetica\ Rg.otf");
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    font-family: "Coolvetica";
  }
}

@utility content-auto {
  content-visibility: auto;
}
