@import "tailwindcss";
@plugin "daisyui" {
  themes: abyss, synthwave, cyberpunk, halloween, coffee, aqua, night;
}

@font-face {
  font-family: "Coolvetica";
  src: url("../public/coolvetica/Coolvetica\ Rg.otf");
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    font-family: "Coolvetica";
  }
}
