@import "tailwindcss";
@plugin "daisyui" {
  themes: abyss, synthwave, cyberpunk, halloween, coffee, aqua, night;
}

@font-face {
  font-family: "Coolvetica";
  src: url("../public/coolvetica/Coolvetica\ Rg.otf");
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    font-family: "Coolvetica";
  }
}

input:focus {
  outline: none;
  border: 3px solid;

  @apply shadow-2xl border-base-300 bg-base-200;
}
